<div id="memsource-projects">
    <table width="100%" style="text-align: left">
        <thead>
        <tr>
            <th width="40%">Name</th>
            <th width="20%">Status</th>
            <th width="25%">Source language</th>
            <th width="25%">Target language</th>
        </tr>
        </thead>
        <tbody><tr><td>Načítám...</td></tr></tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $.ajax({
            'url': {link loadProjects!}
        }).done(function (res) {
            $('table > tbody').html(res);
        });
    });
</script>